:root{
    font-family: 'Rubik', sans-serif;
}

@media(min-width: 320px){
    #big{
        font-size: 50px;
    }
    #passLenght{
        font-size: 40px;
    }
    button{
        margin: 5px 10px 10px 10px;
        width: auto;
        height: auto;
        font-size: 45px;
    }
    #arr_num{
        zoom: 2.8;
    }
    #arr_en{
        zoom: 2.8;
    }
    #arr_EN{
        zoom: 2.8;
    }
    #arr_symb{
        zoom: 2.8;
    }
    figcaption{
        font-size: 25px;
        text-align: center;
    }
}

@media(min-width: 1400px){
    button{
    float:left;
    margin:0 10px;
    font-size: medium;
    width: auto;
    height: auto;
    font-size: 16px;
    }
    #passLenght{
        font-size: 16px;
    }
    #big{
        font-size: 20px;
    }
    #arr_num{
        zoom: 1;
    }
    #arr_en{
        zoom: 1;
    }
    #arr_EN{
        zoom: 1;
    }
    #arr_symb{
        zoom: 1;
    }
    figcaption{
        font-size: auto;
        text-align: center;
    }
}

p{
     font-size: auto;
}


h1{
    font-family: 'Quicksand', sans-serif;
    font-size: 3.5em;
    line-height: 2px;
}
nav{
    font-size: large;
}

main{
    font-size: large;
    
}

main ul{
    list-style-type: none;
    margin-left: -40px;
}

html{
    background-color: #ffe5b4ad;
}    

nav ul{
    margin: 8px 0px 2px 0px;
    padding: 0;
}
nav li {

    display: inline;
    list-style-type: square;
    font-size: 27px;
    margin-right: 7px;
    font-weight: 600;
    
}

a:hover {
    text-decoration: none;
}

a {
    color: rgba(255, 145, 0, 0.856);
}

h1 img {
    vertical-align: middle;
}
#Photo{
    vertical-align: middle;
    float:left;
    margin: 7px 7px 7px 0;
}
.sign {
    float: right; 
    border: 1px solid #333;
    padding: 7px; 
    margin: 10px 0 5px 20px; 
    background: #f0f0f0; 
   }
   .sign figcaption {
    margin: 0 auto 5px; 
    padding-left: 10px;
   }
.code{
    font-size: larger;
}
#About_Us_text{
    text-align: justify;
}