:root{
    font-family: 'Rubik', sans-serif;
}
p{
     font-size: auto;
}
button{
    float:left;
    margin:0 10px;
    font-size: medium;
    width: auto;
    height: auto;
    font-size: 16px;
}
#big{
    font-size: 20px;
}
#passLenght{
    font-size: 16px;
}
h1{
    font-family: 'Quicksand', sans-serif;
    font-size: 3.5em;
    line-height: 2px;
}
h2{
    font-family: 'Quicksand', sans-serif;
    font-size: 2em;
}
nav{
    font-size: large;
}

main{
    font-size: large;
}

html{
    background-color: #ffe5b4ad;
}    

nav ul{
    margin: 8px 0px 2px 0px;
    padding: 0;
}
nav li {

    display: inline;
    list-style-type: square;
    font-size: 27px;
    margin-right: 7px;
    font-weight: 600;
}

a:hover {
    text-decoration: none;
}

a {
    color: rgba(255, 145, 0, 0.856);
}

h1 img {
    vertical-align: middle;
}
#Photo{
    vertical-align: middle;
    float:left;
    margin: 7px 7px 7px 0;
}
.sign {
    float: right; 
    border: 1px solid #333;
    padding: 7px; 
    margin: 10px 0 5px 5px; 
    background: #f0f0f0; 
   }
   .sign figcaption {
    margin: 0 auto 5px; 
   }
.code{
    font-size: larger;
}
